@import "member_color";

.member_color-wrapper {
  width: 25%;
  float: left;
}

.member_color-clear {
  clear: left;
}

@media screen and (max-width: 1000px) {
  .member_color-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 670px) {
  .member_color-wrapper {
    width: 100%;
  }
}

@mixin member_color-base($color) {
  height: 80px;
  margin: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.24);
  border: #eee solid 1px;
  background-color: $color;
  transition: all 0.2s;
  position: relative;
  border-radius: 2px;
  a {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    line-height: 40px;
    background-color: lighten($color: $color, $amount: 43%);
    border: #eee solid 1px;
    text-align: center;
    color: darken($color: $color, $amount: 20%);
    border-radius: 10px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.24);
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.24);
  }
}

@each $member, $color in $members {
  .member_color-#{$member} {
    @include member_color-base($color);
  }
}
